{% extends "base1.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% for post in page.get_children %}
        <div id="first-page" class="section">
        <h1>{{ post.title }}</h1>
        <ul class="services">
        {% for ch in post.get_children %}
            <li>
                <h2><a href="{% pageurl ch %}">{{ ch.specific.title }}</a></h2>
            </li>
        {% endfor %} 
        </ul>
        </div>
    {% endfor %}
{% endblock %}
